:root {
	/* --exhibition-nav-height: 4em; */
	--exhibition-main-height: calc(100vh - 4em); /* var(--exhibition-nav-height) */
			
	--exhibition-card-header-height: 3.5em;
	--exhibition-card-footer-height: 3.5em;

	--fv-card-body-height: calc( 
		var(--exhibition-main-height) - 
		var(--exhibition-card-header-height) - 
		var(--exhibition-card-footer-height) -
		1em
	);
}

@media (max-width:600px) {
	.card {
		width: 95vw;
		left: 2.5vw; 
	}
}
@media (min-width:600px) {
	.card { /* width + left x 2 should add up to 100 */
		width: 90vw; 
        left: 5vw; 
	}
}


html {
    /* overflow: hidden; */
    height: 100%;
    min-width: 300px;
    overflow-x: hidden;
}

html, body {
    overflow-y: auto;
    overscroll-behavior: none;
}

#navbar, #footer {
    min-height: 56px; /* smooth reload */
}

.navbar-background {
    background-color: rgb(33, 37, 41);
}

.footer-background {
    background-color:  rgb(248, 249, 250);
}

.dropdown-menu {
    position: absolute !important;  /* Ensure it overlays */
    z-index: 1000;                  /* On top of other content */
}

/* ! add ACTIVE styling (i.e. how does the site look when active?) */

/* Homepage styles */




/* About Team Section Styles */
.team-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 2rem;
    background-color: #f9f9f9;
}

.team-member {
    text-align: center;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
    max-width: 200px;
    border-radius: 12px;
    transition: transform 0.3s;
}

.team-member:hover {
    transform: translateY(-5px);
}

.team-member img {
    width: 100%;
    height: 200px;
    object-fit: contain; /* <-- shows the full image */
    border-radius: 20px;
}

.team-member h3 {
    margin: 0.5rem 0;
    font-size: 1.2rem;
}

.team-member a {
    color: #333;
    font-size: 1.5rem;
    margin-top: 0.5rem;
    display: inline-block;
}

.team-member a:hover {
    color: #000;
}


/* ?? map */

.map {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 40px;
    text-size-adjust: 1vw;
}
.map-grid {
    display: grid;
    grid-template-columns: repeat(34, 1fr);
    grid-auto-rows: 60px;
    gap: 6px;
    max-width: 3200px;
    width: 100%;
}
.map-area {
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    text-align: center;
    font-size: 1.5vw; /*0.85rem*/
    padding: 6px;

}

.map-area:hover{
    background: #000;
} /* THIS IS WHERE you have to think about the transition required when you change images */

a.map-area {
    text-decoration: none;
    color: #fff
}

.map-area:hover {
    /* border: 2px solid rgb(122, 103, 239); */
    background: #7a67ef;
}

/* ∞ roughly sorted into levels based on height (from left to right) */
/* 1st level */
.howling-cliffs       { grid-column: 1 / span 8;  grid-row: 1 / span 2; }
.dirtmouth            { grid-column: 9 / span 10; grid-row: 1 / span 2; }
.crystal-peak         { grid-column: 19 / span 10; grid-row: 1 / span 3; }
.greenpath            { grid-column: 1 / span 6;  grid-row: 3 / span 4; }
.forgotten-crossroads { grid-column: 7 / span 12; grid-row: 3 / span 2; }
.resting-grounds      { grid-column: 19 / span 10; grid-row: 4; }

/* 2nd level */
.fog-canyon           { grid-column: 7 / span 5;  grid-row: 5 / span 2; }
.fungal-wastes        { grid-column: 12 / span 5; grid-row: 5 / span 4; }
.queens-gardens       { grid-column: 1 / span 11; grid-row: 7; }
.city-of-tears-left   { grid-column: 17 / span 6; grid-row: 5 / span 3; }
.city-of-tears-right  { grid-column: 23 / span 6; grid-row: 5 / span 3; }
.kingdoms-edge        { grid-column: 29 / span 6; grid-row: 6 / span 5; }

/* 3rd level */
.deepnest             { grid-column: 1 / span 11; grid-row: 8 / span 2; }
.royal-waterways      { grid-column: 17 / span 12; grid-row: 8 / span 2; } 
.ancient-basin        { grid-column: 9 / span 16; grid-row: 10 / span 2; }
.the-hive             { grid-column: 29 / span 6; grid-row: 11; }

/* ?? exhibition */x

main.exhibition {
	height: var(--exhibition-main-height) !important;
}

.card-header {
	height: var(--exhibition-card-header-height) !important; 	
}

.card-body {
	height: var(--fv-card-body-height) !important; 	
	overflow-y: scroll; 
}

.card-footer {
	height: var(--exhibition-card-footer-height) !important; 	
}

/* .limitHeight {
	max-height: 20vh !important; 
	width: auto; 
} */

figure.image-frame {
    margin-bottom: 0; /* removing the default margin */
}

.image-frame {
    border: 1px solid #ccc;  
    background-color: #f8f9fa;  
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* a box shadow */
}

.img-object-fit {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

/* ∞ Add animation and transition styles here /

/* 
:hover {
    image smoothly switches from the area to the item
}

*/