@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&display=swap');

/* --purple-gradient: linear-gradient(135deg, rgb(196, 113, 237, 0.5), rgb(106, 130, 251, 0.5)); */

:root {
    --color-bg: rgb(18, 18, 24); /* ! rename colours */
    --color-elevation-1: rgb(24, 24, 32);
    --color-elevation-cards: rgb(28, 28, 38);
    --color-elevation-2: rgb(36, 36, 48);
    --color-dropdown: rgb(42, 42, 56);
    --color-elevation-3: rgb(48, 48, 60);

    --body-text: rgba(255, 255, 255, 0.88);
    --metadata-text: rgba(255, 255, 255, 0.77);
    --supplementary-body-text: rgba(255, 255, 255, 0.66);
    --additional-text: rgba(255, 255, 255, 0.60);
    --disabled-text: rgba(255, 255, 255, 0.38);
    --border-outline: rgba(255, 255, 255, 0.12);

    --card-text: rgba(255, 255, 255, 0.88);

    --content-button-color-1: #dea070; /*  d0946d */
    --link-color: #ffa865; /* ffa865 */
    --link-highlight-color: #f97b46; /* f97b46 */
    --content-button-gradient: linear-gradient(135deg, #dea070, #db602b);
}

/* ∞ navbar */

/* .navbar .navbar-nav .nav-link:hover {
  color: #000000;
} */

@media only screen and (min-width: 992px) { 
    .navbar .navbar-nav .nav-item::after {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        margin-bottom: -0.5em;
        background-color: var(--link-highlight-color);
        width: 0%;
        content: "";
        height: 4px;
        transition: width 0.25s ease-in-out;
    } /* ! add a transition here!!! */

    .navbar .navbar-nav .nav-item:hover::after {
        width: 100%;
    }   

    .navbar .navbar-nav .dropdown:hover::after {
        width: 0%;
    } /* no hover here */

    .navbar .navbar-nav .nav-item {
        position: relative;
    }
}

/* ∞ body */

body {
    font-family: "Avenir", 'Nunito Sans', sans-serif !important;
    color: var(--body-text) !important;
}

a {
    color: var(--link-color); /* make this into another colour, maybe a bit more saturated. hover should make it different */
}

a:hover {
    color: var(--link-highlight-color); /* make this into another colour, maybe a bit more saturated. hover should make it different */
}

nav.navbar, footer, .navbar-background, .footer-background {
    background-color: var(--color-elevation-2) !important;
    /* color: var(--text-high) !important; */
}

.dropdown-item:hover {
    background-color: var(--link-highlight-color);
}

.dropdown-item:focus {
    background-color: var(--link-color);
}

.dropdown-item.active {
    color: var(--link-highlight-color) !important;
}
/* rgba(255, 255, 255, 0.12) */

article.card {
    color: var(--card-text);
    background-color: var(--color-elevation-2);
}

body {
    background-color: var(--color-bg) !important;
    color: var(--body-text);
}

article.card {
    color: var(--card-text);
    background-color: var(--color-elevation-cards);
}

section.team-section, .carousel, .choose-narrative {
    background-color: var(--color-elevation-cards) !important;
}

.carousel article, .team-member {
    background-color: var(--color-elevation-2);
}


.qr-code {
    filter: invert(100%);
}

.team-member {
    background-color: var(--color-elevation-2);
}

.team-member a {
    color: var(--metadata-text);
}

.team-member a:hover {
    color: var(--link-highlight-color);
}

a.narrative-card {
    color: var(--body-text);
    
}

footer div {
    color: var(--supplementary-body-text) !important;
}

h1, h2, h3, h4, h5 {
    font-weight: 600;
}

#narrativeArea {
    color: var(--supplementary-body-text) !important;
}

/* what? Do gradients... */
/* every 1st should be one colour, the 2nd another, and the 3rd another, change accordingly  */

.bg-dark {
    --bs-bg-opacity: 0;
}

.bg-light {
    --bs-bg-opacity: 0;
}

.dropdown-menu {
    background-color: var(--color-dropdown);
}

.dropdown-item {
    color: var(--additional-text);
}

.footer-text {
    color: var(--supplementary-body-text) !important;
}

.image-frame {
    border: none;
    background-color: var(--color-elevation-3);
}

figure.image-frame {
    border-radius: 15px 15px 0 0;
}

.image-frame.ratio {
    border-radius: 15px;
}

.card-header, .card-footer {
    background-color: var(--color-elevation-cards) !important;
}

a.map-area:hover {
    color: var(--link-highlight-color);
}

section > table {
    border-radius: 0 0 20px 20px;
    /* border-collapse: separate; */
    overflow: hidden;
}


.background-shading:nth-child(3n+1) {
    filter: brightness(50%) contrast(75%) sepia(100%) hue-rotate(320deg) saturate(350%) blur(3.5px); /* purple, blue 200 */
}

.background-shading:nth-child(3n+2) {
    filter: brightness(50%) contrast(75%) sepia(100%) hue-rotate(330deg) saturate(350%) blur(3.5px); /* crystal peak */
}

.background-shading:nth-child(3n+3) {
    filter: brightness(50%) contrast(75%) sepia(100%) hue-rotate(340deg) saturate(350%) blur(3.5px); /* waterways */
}

/* ∞ overriding boostrap styles */

.btn-primary {
    background-image: var(--content-button-gradient);
    transition: filter 0.25s ease-in-out;
    --bs-btn-border-color: #none !important;
}

.btn-primary:hover {
    filter: brightness(120%);
}

.btn-outline-primary {
    color: var(--link-color);
    border-color: var(--link-color);
    transition: filter 0.25s ease-in-out;
    --bs-btn-active-bg: var(--content-button-color-1);
    --bs-btn-active-border-color: var(--content-button-color-1);
}

.btn-outline-primary:hover {
    background-image: var(--content-button-gradient);
    border-color: var(--content-button-color-1);
}

.btn-outline-primary:disabled {
    color: var(--link-color);
    border-color: var(--link-color);
    filter: opacity(50%);
}

.border {
    border: none !important;
}

.table>:not(caption)>*>* {
    background: none;
    border: none;
    border-spacing: 0;   
    color: var(--metadata-text);
}

tr:nth-child(odd) {
    background-color: var(--color-elevation-2) !important;

}

tr:nth-child(even) {
    background-color: var(--color-elevation-3) !important;
}