:root {
    --color-bg: rgb(236, 206, 170);
    --color-elevation-1: #f2d4af;
    --color-row: #d9b999;
    --color-elevation-2: #e3c6a2;
    --color-elevation-3:#dcbe99; 
    --color-elevation-4:#d4b58f; 
    
    --body-text: rgb(0, 0, 0);
    --body-text-white: rgba(255, 255, 255, 0.88);
    --metadata-text: rgba(0, 0, 0, 0.8);
    --supplementary-body-text: rgba(0, 0, 0, 0.66);
    --additional-text: rgba(0, 0, 0, 0.6);
    --disabled-text: rgba(0, 0, 0, 0.38);
    --border-outline: rgba(0, 0, 0, 0.12);

    --card-text: rgba(0, 0, 0, 0.88);
    --heading-color: #da2321;
    --content-button-color-1: #dea070; /*  d0946d */
    --link-color: #3f7daf; /* ffa865 */
    --link-highlight-color: #4899dc; /* f97b46 */
    --content-button-gradient: linear-gradient(0deg, #000000, #121212);
    --background-texture: url("https://www.transparenttextures.com/patterns/natural-paper.png");
    /* db4e28 */
}

/* ∞ navbar */
/* ∞ body */

body {
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important; */
    font-family: 'Lovelo', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
    background-color: #ecceaa;
    background-image: var(--background-texture);
    color: var(--body-text) !important;
}

a {
    color: var(--link-color); /* make this into another colour, maybe a bit more saturated. hover should make it different */
}

a:hover {
    color: var(--link-highlight-color); /* make this into another colour, maybe a bit more saturated. hover should make it different */
}

nav.navbar {
    background-color: #000 !important;
}

footer {
    background-color: #191919;
}

.nav-link {
    color: rgba(236, 206, 170, 0.95)
}

.nav-link:hover {
    color: rgba(236, 206, 170, 0.75)
}

.dropdown-menu {
    background-color: #1e1e1e;
}

.dropdown-item {
    color: var(--body-text-white);
}

.dropdown-item:hover {
    background-color: var(--link-highlight-color);
}

.dropdown-item:focus {
    background-color: var(--link-color);
}

.dropdown-item:active {
    color: var(--link-highlight-color) !important;
}

article.card {
    color: var(--card-text);
    background-color: var(--color-elevation-2);
    background-image: var(--background-texture);
}

section.team-section, .carousel, .choose-narrative {
    background-color: var(--color-elevation-2) !important;
    background-image: var(--background-texture);
}

.carousel article, .team-member {
    background-color: var(--color-elevation-3);
    background-image: var(--background-texture);
}

.qr-code {
    filter: sepia(100%);
}

.team-member a {
    color: var(--metadata-text);
}

.team-member a:hover {
    color: var(--link-highlight-color);
}

a.narrative-card {
    background-color: var(--color-elevation-2) !important;
    background-image: var(--background-texture);
}

footer div {
    color: var(--body-text-white) !important;
}

h1, h2, h3, h4, h5 {
    font-weight: 625 !important;
    text-transform: uppercase;
    color: var(--heading-color);
}

#narrativeArea {
    color: var(--supplementary-body-text) !important;
}


.bg-dark {
    --bs-bg-opacity: 0;
}

.bg-light {
    --bs-bg-opacity: 0;
}

.footer-text {
    color: var(--body-text-white) !important;
}

.image-frame {
    border: none;
    background-color: var(--color-elevation-3);
}

figure.image-frame {
    border-radius: 15px 15px 0 0;
    background-image: var(--background-texture);
}

.image-frame.ratio {
    border-radius: 15px;
}

.card-header, .card-footer {
    background-color: var(--color-elevation-4) !important;
    background-image: var(--background-texture);
}

a.map-area:hover {
    color: var(--link-highlight-color);
}

section > table {
    border-radius: 0 0 20px 20px;
    /* border-collapse: separate; */
    overflow: hidden;
}


.background-shading:nth-child(3n+1) {
    opacity: 50%;
    filter: brightness(50%) contrast(75%) sepia(100%) hue-rotate(2deg) saturate(350%) blur(0.5px); 
}

.background-shading:nth-child(3n+2) {
    opacity: 50%;
    filter: brightness(50%) contrast(75%) sepia(100%) saturate(350%) blur(0.5px); 
}

.background-shading:nth-child(3n+3) {
    opacity: 50%;
    filter: brightness(50%) contrast(75%) sepia(100%) hue-rotate(-2deg) saturate(350%) blur(0.5px); 
}

/* ∞ overriding boostrap styles */

.btn-primary {
    background-image: var(--content-button-gradient);
    transition: filter 0.25s ease-in-out;
    --bs-btn-border-color: #none !important;
}

.btn-primary:hover {
    filter: brightness(150%);
}

.btn-outline-primary {
    color: var(--link-color);
    border-color: var(--link-color);
    transition: filter 0.25s ease-in-out;
    --bs-btn-active-bg: var(--content-button-color-1);
    --bs-btn-active-border-color: var(--content-button-color-1);
}

.btn-outline-primary:hover {
    background-image: var(--content-button-gradient);
    border-color: var(--content-button-color-1);
}

.btn-outline-primary:disabled {
    color: var(--link-color);
    border-color: var(--link-color);
    filter: opacity(50%);
}

.border {
    border: none !important;
}

.table>:not(caption)>*>* {
    background: none;
    border: none;
    border-spacing: 0;   
    color: var(--metadata-text);
}

tr:nth-child(odd) {
    background-color: var(--color-elevation-2) !important;
    background-image: var(--background-texture);

}

tr:nth-child(even) {
    background-color: var(--color-elevation-3) !important;
    background-image: var(--background-texture);
}

button.nav-link {
    color: var(--link-color)
}

button.nav-link:hover {
    color: var(--link-highlight-color)
}